<app-banner title="Dashboard" subtitle="Hostel Canteens Data Visualization"></app-banner>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="field">
          <label class="label">Hostel</label>
          <div class="control">
            <div class="select">
              <select (change)="getHostelData($event.target.value)">
                <option value="" disabled selected>Select hostel</option>
                <option *ngFor="let hostel of hostels" value="{{hostel}}">
                  Hostel {{ surveyOptionsMappings['hostels'][hostel] }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-6">
        <div class="field">
          <div class="control">
            <a class="button is-primary" href="{{apiBaseUrl}}/canteens/csv">Download CSV</a>
          </div>
        </div>
      </div>
    </div>

    <div class="pageloader" [ngClass]="{'is-active': fetchingData}">
      <span class="title">Fetching data...</span>
    </div>

    <app-chart *ngIf="gotData" [surveyOptionsMappings]="surveyOptionsMappings" [surveyData]="surveyData"></app-chart>

  </div>
</section>
