{{ diagnostic }}

<div class="container-fluid">
  <form>
    <div class="row">
      <div class="email col-sm">
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="surveyModel.email" name="email" required>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <mat-form-field>
          <mat-select placeholder="Your hostel" [(ngModel)]="surveyModel.hostel" name="hostel">
            <mat-option *ngFor="let hostel of hostels" [value]="hostel">
              Hostel {{hostel}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-sm">
          <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>

  </form>
</div>

