<section class="section">
  <div class="container">
    <div class="pageloader" [ngClass]="{'is-active': formSubmitting}">
      <span class="title">Submitting...</span>
    </div>

    <form (ngSubmit)="onSubmit()" #surveyForm="ngForm" [hidden]="formSubmitted || formSubmitting">

      <div class="columns" *ngFor="let formControl of form">
        <div class="column">
          <ng-container *ngIf="formControl.type === 'input'">
            <ng-container *ngFor="let model of surveyModel[formControl.model]">
              <div class="field">
                <label class="label">{{formControl.label}}</label>
                <div class="control">
                  <input class="input" placeholder="{{formControl.label}}" [(ngModel)]="model.value" name="{{formControl.model}}"
                    [required]="formControl.required" pattern="{{formControl.pattern}}">
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="formControl.type === 'select'">
            <ng-container *ngFor="let model of surveyModel[formControl.model]">
              <div class="field">
                <label class="label">{{formControl.label}}</label>
                <div class="control">
                  <div class="select is-focused">
                    <select [(ngModel)]="model.value" name="{{formControl.model}}" [required]="formControl.required">
                      <option value="" disabled selected>{{formControl.label}}</option>
                      <option *ngFor="let option of formControl.options; let i = index" [value]="formControl.values[i]">
                        {{ option }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="formControl.type === 'radio-group'">
            <ng-container *ngFor="let model of surveyModel[formControl.model]">
              <div class="field">
                <label class="label">{{formControl.label}}</label>
                <div class="control radio-group">
                  <ng-container *ngFor="let option of formControl.options; let i = index;">
                    <input class="is-checkradio" id="{{formControl.model}}{{i}}" type="radio" value="{{formControl.values[i]}}"
                      [(ngModel)]="model.value" name="{{formControl.model}}" [required]="formControl.required">
                    <label for="{{formControl.model}}{{i}}">{{option}}</label>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="formControl.type === 'multiple-choice-grid'">
            <div class="field">
              <label class="label">{{formControl.label}}</label>
              <small class="text-muted">
                <p>{{formControl.subLabel}}</p>
              </small>
              <div class="control">
                <div class="table__wrapper">
                  <table class="table is-fullwidth">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" *ngFor="let colLabel of formControl.columnLabels">{{ colLabel }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rowLabel of formControl.rowLabels; let i = index">
                        <th scope="row">{{ rowLabel }}</th>
                        <td *ngFor="let colValue of formControl.columnValues">
                          <input class="is-checkradio" type="radio" [(ngModel)]="surveyModel[formControl.model][i].value"
                            name="{{formControl.model}}{{i}}" [required]="formControl.required" value="{{colValue}}" id="{{formControl.model}}{{i}}{{colValue}}">
                          <label for="{{formControl.model}}{{i}}{{colValue}}"></label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="formControl.type === 'paragraph'">
            <ng-container *ngFor="let model of surveyModel[formControl.model]">
              <div class="field">
                <label class="label">{{formControl.label}}</label>
                <textarea class="textarea" placeholder="{{formControl.placeholder}}" [(ngModel)]="model.value" name="{{formControl.model}}"
                  [required]="formControl.required"></textarea>
              </div>
            </ng-container>
          </ng-container>

        </div>
      </div>

      <div class="columns">
        <div class="column">
          <button class="button is-primary" [disabled]="!surveyForm.form.valid">Submit</button>
        </div>
      </div>

    </form>

    <!-- <pre>{{ diagnostic | json }}</pre> -->
    <div [hidden]="!formSubmitted">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <div class="check_mark">
            <div class="sa-icon sa-success animate">
              <span class="sa-line sa-tip animateSuccessTip"></span>
              <span class="sa-line sa-long animateSuccessLong"></span>
              <div class="sa-placeholder"></div>
              <div class="sa-fix"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-centered">
        <div class="column has-text-centered">
          <div class="notification is-primary">
            Thank you for submitting the feedback
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
