<div class="container">
  <div class="row">
    <div class="col-sm">
        <mat-form-field>
          <mat-select placeholder="Select hostel" (selectionChange)="getHostelData($event)" #hostelDropDown>
            <mat-option *ngFor="let hostel of hostels" [value]="hostel">
              Hostel {{ surveyOptionsMappings['hostels'][hostel] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm download-csv-button">
      <a href="{{apiBaseUrl}}/csv">
        <button mat-raised-button>
          Download CSV
        </button>      
      </a>
    </div>
  </div>

  <mat-progress-bar mode="buffer" [hidden]="!fetchingData"></mat-progress-bar>

  <div class="row charts">
    <div [hidden]="!gotData" class="col" *ngFor="let data of chartData; let i = index">
      <app-barchart 
        [data]="data"
        [canvasId]="'canvas'+i"
        [numData]="numData"
        [index]="i">
      </app-barchart>
    </div>      
  </div>
</div>