<app-banner title="Survey" subtitle="Choose the eatery for feedback"></app-banner>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 has-text-centered">
        <a routerLink="canteens">
          <button class="button is-medium is-outlined is-fullwidth is-primary">
            Hostel Canteens
          </button>
        </a>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-6 has-text-centered">
        <a routerLink="aromas">
          <button class="button is-medium is-outlined is-fullwidth is-primary">
            Aromas
          </button>
        </a>
      </div>
    </div>

    <div class="columns is-centered">
      <div class="column is-6 has-text-centered">
        <a routerLink="brewandbites">
          <button class="button is-medium is-outlined is-fullwidth is-primary">
            Brew & Bites
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
